p {    
    color: #FF00FF;
    font-family: Futura;
    font-size: 14px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #FF00FF;
    font-family: Futura;
    font-size: 14px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
